---
interface Props {
  paragraphs: string[];
}
const { paragraphs } = Astro.props;
---
<section class="missione-block block" id="missione">
  <div class="missione-container">
    <h1 class="section-header">La nostra missione</h1>
    {paragraphs.map(p => (
      <p class="missione-copy">{p}</p>
    ))}
    <div class="cta-container">
      <a href="/candidati" class="section-cta-link">Candidati senza impegno →</a>
    </div>
  </div>
</section>
